@font-face {
  src: url("./Resources/font/Lato-Regular.ttf");
  font-family: lato; }

body {
  color: #000;
  font-family: lato;
  font-size: 1em; }

body {
  background-color: #EFF4FD; }

header {
  background-color: red;
  height: 10px; }
